/* line 7, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

/* line 14, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
header {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* line 19, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
header .header-text {
  display: block;
  margin: auto;
}

/* line 24, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
header #title {
  margin-top: 50px;
  font-size: 60px;
  color: white;
  font-family: 'DM Serif Display', serif;
  text-decoration: underline;
}

/* line 32, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
header #subtitle {
  color: #df057d;
  font-size: 20px;
  margin-bottom: 50px;
}

/* line 41, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

/* line 56, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.menu-li {
  display: inline;
}

/* line 60, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.menu-li a {
  display: block;
  color: #f057ab;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* line 69, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.menu-li a:hover {
  background-color: black;
}

/* line 79, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
#foto-principal {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

/* line 85, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
#pag-principal {
  text-align: center;
}

/* line 91, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.volver {
  text-align: center;
  margin-top: 30px;
}

/* line 95, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.volver a {
  color: #f057ab;
}

/* line 104, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
h3 {
  font-size: 20px;
  color: #f39ecd;
  padding-left: 30px;
}

/* line 111, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
textarea {
  font-family: 'Inter', sans-serif;
}

/* line 115, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
footer {
  margin-top: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
}

/* line 121, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
footer .texto-footer {
  font-size: 11px;
  opacity: .5;
}

/* line 127, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
footer .iconos-footer {
  background-color: black;
  justify-self: center;
  border: none;
}

/* line 133, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
footer .link-footer {
  color: #f057ab;
}

/* line 141, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.turnos-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 20px 20px 20px;
  justify-content: center;
  justify-items: center;
}

/* line 151, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.animate__fadeIn {
  animation-duration: 6s;
}

/* line 155, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.animate__zoomIn {
  animation-duration: 1.5s;
}

/* line 160, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.li-contacto {
  list-style: none;
}

/* line 165, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.href-contacto {
  text-decoration: none;
  color: #f057ab;
}

/* line 170, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
div .mapa {
  display: flex;
  justify-content: center;
  margin: 40px;
}

/* line 176, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
table {
  display: flex;
  justify-content: space-around;
}

/* line 180, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
table td {
  border: 1px solid #3d3d3d;
  text-align: center;
}

/* line 189, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 0px;
  grid-auto-flow: row;
  grid-template-areas: "foto-servicio-peluqueria texto-servicio-peluqueria texto-servicio-peluqueria" "texto-servicio-color texto-servicio-color foto-servicio-color" "foto-servicio-tratamientos texto-servicio-tratamientos texto-servicio-tratamientos";
}

/* line 206, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.servicios a,
.servicios-2 a {
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 15px 5px 15px;
  background-color: #f057ab;
}

/* line 215, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.servicios a:hover,
.servicios-2 a:hover {
  background-color: #df057d;
  border: 2px solid #f057ab;
  font-size: 16px;
}

/*AGREGAR ANIMACIONES*/
/* line 227, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.foto-servicio-peluqueria {
  grid-area: foto-servicio-peluqueria;
}

/* line 232, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-peluqueria {
  grid-area: texto-servicio-peluqueria;
}

/* line 237, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-color {
  grid-area: texto-servicio-color;
}

/* line 243, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.foto-servicio-color {
  grid-area: foto-servicio-color;
}

/* line 247, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.foto-servicio-tratamientos {
  grid-area: foto-servicio-tratamientos;
  padding-bottom: 40px;
}

/* line 252, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-tratamientos {
  grid-area: texto-servicio-tratamientos;
}

/* line 257, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.servicios-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 0px;
  grid-auto-flow: row;
  grid-template-areas: "texto-servicio-manos-y-pies texto-servicio-manos-y-pies foto-servicio-manos-y-pies" "foto-servicio-maquillaje texto-servicio-maquillaje texto-servicio-maquillaje" ". . .";
}

/* line 270, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-manos-y-pies {
  grid-area: texto-servicio-manos-y-pies;
}

/* line 275, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.foto-servicio-manos-y-pies {
  grid-area: foto-servicio-manos-y-pies;
}

/* line 279, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.foto-servicio-maquillaje {
  grid-area: foto-servicio-maquillaje;
}

/* line 284, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-maquillaje {
  grid-area: texto-servicio-maquillaje;
}

/* line 289, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-color, .texto-servicio-manos-y-pies {
  margin-left: 30px;
  padding-left: 20px;
  text-align: justify;
}

/* line 295, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.texto-servicio-peluqueria, .texto-servicio-tratamientos, .texto-servicio-maquillaje {
  margin-right: 20px;
  padding-right: 20px;
  text-align: justify;
}

/* line 302, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.foto-servicio {
  margin-left: 80px;
  margin-right: 0;
  margin-bottom: 30px;
  max-width: 200px;
  border-radius: 100px;
}

/* line 312, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.ver-mas {
  margin-top: -180px;
  text-align: justify;
}

/* line 315, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.ver-mas ul, .ver-mas li {
  margin-left: 20px;
}

/* line 318, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.ver-mas a {
  margin: 30px;
}

/* line 323, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
  justify-items: center;
  text-align: justify;
}

/* line 334, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.about-container :first-child {
  margin-right: 30px;
}

/* line 339, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.about-container :last-child {
  margin-left: 30px;
}

/* line 343, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
.about-container h3 {
  text-align: center;
}

/* line 351, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/estilos.scss */
section .ver-mas {
  padding-top: 0;
  margin-top: 0;
}

/* line 1, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_carousel.scss */
#carrusel-caja {
  -moz-animation: automatizacion 15s infinite linear;
  -o-animation: automatizacion 15s infinite linear;
  -webkit-animation: automatizacion 15s infinite linear;
  animation: automatizacion 15s infinite linear;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  width: 300%;
}

/* line 14, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_carousel.scss */
#carrusel-contenido {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  padding-top: 20px;
}

/* line 22, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_carousel.scss */
.carrusel-elemento {
  float: left;
  width: 33.333%;
}

/* line 25, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_carousel.scss */
.carrusel-elemento .imagenes {
  width: 100%;
  height: auto;
  align-content: center;
  margin-bottom: 0;
}

@-moz-keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  /* line 2, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .menu-li {
    flex-basis: 50%;
  }
  /* line 6, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "";
  }
  /* line 13, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .about-container {
    padding: 10px;
    margin: 10px;
  }
}

/* 


--- ALSO AGREGAR LO DE SERVICIOS PARA QUE SE VEA TODO EN TRES Y DOS COLUMNAS EN TABLET Y UNA SOLA COLUMNA EN CELULAR ---

*/
@media (max-width: 767px) {
  /* line 30, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .menu-li {
    flex-basis: 100%;
  }
  /* line 34, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .turnos-container {
    grid-template-columns: 100%;
  }
  /* line 40, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  #info-turnos {
    padding-bottom: 40px;
  }
  /* line 44, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  #formulario {
    margin-left: 0;
    align-content: center;
  }
  /* line 50, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .about-container {
    grid-template-columns: 100%;
    margin: 10px;
    padding: 5px;
  }
  /* line 55, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .about-container p {
    margin: 0;
    padding: 0;
  }
  /* line 60, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .about-container :first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  /* line 66, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
  .about-container :last-child {
    margin-left: 0;
    padding-top: 10px;
  }
}

/* line 75, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.servicios {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foto-servicio-peluqueria" "texto-servicio-peluqueria" "foto-servicio-color" "texto-servicio-color" "foto-servicio-tratamientos" "texto-servicio-tratamientos";
  padding: 0;
  margin: 0;
}

/* line 89, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.servicios-2 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foto-servicio-manos-y-pies" "texto-servicio-manos-y-pies" "foto-servicio-maquillaje" "texto-servicio-maquillaje";
}

/* line 99, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.texto-servicio-color,
.texto-servicio-manos-y-pies,
.texto-servicio-peluqueria,
.texto-servicio-maquillaje {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 0;
  margin: 0 10px 0 10px;
}

/* line 111, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.texto-servicio-tratamientos {
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 40px;
  margin: -30px 10px 0 20px;
}

/* line 118, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.foto-servicio {
  max-width: 100%;
  border-radius: 300px;
  margin: 0;
}

/* line 127, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.ver-mas {
  margin-top: 40px;
  margin-right: 20px;
}

/* line 130, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.ver-mas ul {
  margin-left: 5px;
}

/* line 133, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.ver-mas li {
  margin-left: 0;
}

/* line 138, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
h3 {
  padding-left: 3px;
}

/* line 142, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
h4 {
  text-align: center;
}

/* line 147, ../../Documents/PreEntrega1Frylingsztein/estilos/scss/_responsive.scss */
.servicios a, .servicios-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}

/*# sourceMappingURL=estilos.css.map */