@media (max-width: 1024px) {

.servicios{
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
     grid-template-areas: 
  "foto-servicio-peluqueria texto-servicio-peluqueria" 
  "texto-servicio-color foto-servicio-color"
  "foto-servicio-tratamientos texto-servicio-tratamientos"
  ;
}

.servicios-2{
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
     grid-template-areas: 
    "texto-servicio-manos-y-pies foto-servicio-manos-y-pies"
  "foto-servicio-maquillaje texto-servicio-maquillaje"
}

.foto-servicio{
    max-width: 75%;
  margin-left: 25px;
 
  
}

.ver-mas {
    margin-top: 40px;
    margin-right: 40px;
    }
        .about-container {
        padding: 10px;
        margin: 10px;

    }


}


@media (max-width: 767px) {

    .menu-li {
        flex-basis: 100%
    }

    .turnos-container {
        grid-template-columns: 100%;

    }


    #info-turnos {
        padding-bottom: 40px;
    }

    #formulario {
        margin-left: 0;
        align-content: center;
    }


    .about-container {
        grid-template-columns: 100%;
        margin: 10px;
        padding: 5px;

        p {
            margin: 0;
            padding: 0;
        }

        :first-child {
            margin-right:
                0;
            margin-bottom: 20px;
        }

        :last-child {
            margin-left: 0;
            padding-top: 10px;
        }
    }

    .servicios {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "foto-servicio-peluqueria"
            "texto-servicio-peluqueria"
            "foto-servicio-color"
            "texto-servicio-color"
            "foto-servicio-tratamientos"
            "texto-servicio-tratamientos";
        padding: 0;
        margin: 0;
    }

    .servicios-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "foto-servicio-manos-y-pies"
            "texto-servicio-manos-y-pies"
            "foto-servicio-maquillaje"
            "texto-servicio-maquillaje";
    }

    .texto-servicio-color,
    .texto-servicio-manos-y-pies,
    .texto-servicio-peluqueria,
    .texto-servicio-maquillaje {

        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        padding-top: 0;
        margin: 0 10px 0 10px
    }

    .texto-servicio-tratamientos {
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 40px;
        margin: -30px 10px 0 20px;
    }



    .foto-servicio {
        max-width: 100%;
        margin: 0;


    }


    .ver-mas {
        margin-top: 40px;
        margin-right: 20px;

        ul {
            margin-left: 5px;
        }

        li {
            margin-left: 0;
        }

    }

    h3 {
        padding-left: 3px;

    }

    h4 {
        text-align: center;
    }

    .servicios,
    .servicios-2 {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 20px;




        }
    }
}