$color-fondo: black;
$color-primario: white;
$color-secundario: rgb(223, 5, 125);
$color-terciario: rgb(240, 87, 171);


body {
    background-color: $color-fondo;
    color: $color-primario;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;

    .header-text {
        display: block;
        margin: auto
    }

    #title {
        margin-top: 50px;
        font-size: 60px;
        color: $color-primario;
        font-family: 'DM Serif Display', serif;
        text-decoration: underline;
    }

    #subtitle {
        color: $color-secundario;
        font-size: 20px;
        margin-bottom: 50px;
    }

}


.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: #333;

}



.menu-li {

    display: inline;

    a {

        display: block;
        color: $color-terciario;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;

        &:hover {
            background-color: $color-fondo;
        }

    }


}


#foto-principal {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

#pag-principal {
    text-align: center;
}



.volver {
    text-align: center;
    margin-top: 30px;

    a {

        color: $color-terciario;

    }
}



h3 {

    font-size: 20px;
    color: rgb(243, 158, 205);
    padding-left: 30px;
}

#formulario {  
    textarea {
    font-family: 'Inter', sans-serif;
}

}


footer {
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;

    .texto-footer {
        font-size: 11px;
        opacity: .5;
        text-align: center;

    }

    .iconos-footer {
        background-color: $color-fondo;
        justify-self: center;
        border: none;
    }

    .link-footer {

        color: $color-terciario;
    }

}


.turnos-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px 20px 20px;
    justify-content: center;
    justify-items: center;
        p{
            padding:20px;
        }

}


.animate__zoomIn {
    animation-duration: 1.5s;

}

.li-contacto {
    list-style: none;

}

.href-contacto {
    text-decoration: none;
    color: $color-terciario
}

div .mapa {
    display: flex;
    justify-content: center;
    margin: 40px;
}

table {
    display: flex;
    justify-content: space-around;

    td {
        border: 1px solid rgb(61, 61, 61);
        text-align: center;

    }

}


.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "foto-servicio-peluqueria texto-servicio-peluqueria texto-servicio-peluqueria"
        "texto-servicio-color texto-servicio-color foto-servicio-color"
        "foto-servicio-tratamientos texto-servicio-tratamientos texto-servicio-tratamientos";

}


.servicios,
.servicios-2 {

    a {
        text-align: center;
        text-decoration: none;
        color: $color-primario;
        border: 1px solid white;
        padding: 5px 15px 5px 15px;
        background-color: $color-terciario;
        margin-top: 30px;
      

        &:hover {

            background-color: $color-secundario;
            border: 2px solid $color-terciario;
            font-size: 16px;

        }

    }
}

/*AGREGAR ANIMACIONES*/
.foto-servicio-peluqueria {
    grid-area: foto-servicio-peluqueria;

}

.texto-servicio-peluqueria {
    grid-area: texto-servicio-peluqueria;

}

.texto-servicio-color {
    grid-area: texto-servicio-color;


}

.foto-servicio-color {
    grid-area: foto-servicio-color;
}

.foto-servicio-tratamientos {
    grid-area: foto-servicio-tratamientos;
padding-bottom: 40px;  

}

.texto-servicio-tratamientos {
    grid-area: texto-servicio-tratamientos;
  
}

.servicios-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "texto-servicio-manos-y-pies texto-servicio-manos-y-pies foto-servicio-manos-y-pies"
        "foto-servicio-maquillaje texto-servicio-maquillaje texto-servicio-maquillaje"
        ". . .";
   
}

.texto-servicio-manos-y-pies {
    grid-area: texto-servicio-manos-y-pies;
 
}

.foto-servicio-manos-y-pies {
    grid-area: foto-servicio-manos-y-pies;
}

.foto-servicio-maquillaje {
    grid-area: foto-servicio-maquillaje;

}

.texto-servicio-maquillaje {
    grid-area: texto-servicio-maquillaje;

}

.texto-servicio-color, .texto-servicio-manos-y-pies {
    margin-left: 30px;
    padding-left: 20px;
    text-align: justify;
}

.texto-servicio-peluqueria, .texto-servicio-tratamientos, .texto-servicio-maquillaje {
    margin-right: 20px;
padding-right: 20px;
text-align: justify;

}

.foto-servicio {
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 30px;
    border-radius: 300px;
    max-width:250px;

}


.ver-mas{
    margin-top: -180px;
    text-align: justify;
    ul, li {
        margin-left: 20px;
    }
    a {
        margin: 30px;
    }
}

.about-container {

    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    justify-items: center;
    text-align: justify;

    :first-child {
        margin-right:
            30px;
       
    }

    :last-child {
        margin-left: 30px;
    }

    h3 {
        text-align: center;
    }


}


section .ver-mas {
    padding-top: 0;
    margin-top: 0;

}


@import "_carousel";
@import "responsive";