$color-fondo: black;
$color-primario: white;
$color-secundario: rgb(223, 5, 125);
$color-terciario: rgb(240, 87, 171);


body {
    background-color: $color-fondo;
    color: $color-primario;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    .header-text {
        display: block;
        margin: auto
    }
    #title {
        margin-top: 50px;
        font-size: 60px;
        color: $color-primario;
        font-family: 'DM Serif Display', serif;
        text-decoration: underline;
    }
    #subtitle {
        color: $color-secundario;
        font-size: 20px;
        margin-bottom: 50px;
    }

}


.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: #333;

}



.menu-li {

    display: inline;
    a {

        display: block;
        color: $color-terciario;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            background-color: $color-fondo;
        }
    
    }

  
}


#foto-principal {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

#pag-principal {
    text-align: center;
}



.volver {
    text-align: center;
    margin-top: 30px;
    a {

        color: $color-terciario;
    
    }
}



h3 {

    font-size: 20px;
    color: rgb(243, 158, 205);
}

textarea {
    font-family: 'Inter', sans-serif;
}

footer {
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    .texto-footer {
        font-size: 11px;
        opacity: .5;
    
    }
    .iconos-footer {
        background-color: $color-fondo;
        justify-self: center;
    }
    .link-footer {

        color: $color-terciario;
    }

}


.turnos-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px 20px 20px;
    justify-content: center;
    justify-items: center;

}


.animate__fadeIn {
    animation-duration: 6s
}

.animate__zoomIn {
    animation-duration: 1.5s;

}

.li-contacto{
    list-style: none;
    
}

.href-contacto{
text-decoration: none;
color:  $color-terciario}

div .mapa {
  display: flex;
justify-content: center;
margin: 40px;
}

table {
    display:flex;
    justify-content: space-around;
    td {
        border: 1px solid rgb(61, 61, 61);
      text-align: center;
      
      }
}

@import "responsive";